*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.container {
  padding: 60px 0;
  width: 1200px;
  margin: 0 auto;
}
